<div>
    <section id="contactus" class="contact" style="padding-top: 170px;">
        <div class="container aos-init aos-animate" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact With Us</h2>
            <h3><span>Ironic Solutions</span></h3>
          </div>
          

          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-briefcase"></i>
              <h3>ER. Nilesh Bhavsar</h3>
              <p> Computer Engineer, Pune <br>
                <span class="glyphicon glyphicon-earphone"></span>&nbsp; +91 86250 50772<br>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp; bhavsar.nilesh96@gmail.com
              </p>  
            </div>
          </div>

            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-briefcase" ></i>
                <h3>ER. Ashish Holey</h3>
                <p>Computer Engineer, Pune<br>
                  <span class="glyphicon glyphicon-earphone"></span>&nbsp; +91 91304 52518<br>
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp; ashish.holey56@gmail.com
                </p>  
              </div>
            </div>
          
         
           
        </div>
      </section>
  </div>